@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

body, div {
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}

h1 {
    font: 800 60px/0 'Nunito Sans', sans-serif;
}

.d-flex {
    display: flex;
}

.text-white {
    color: #FFFFFF;
}

.container {
    padding: 0 25px;
}

.no-decoration {
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .container {
        padding: 0 10px;
    }
}
