.listElement {
    display: flex;
    padding: 15px;
    cursor: pointer;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
}

.title {
    color: #333333;
    font-size: 13px;
    font-weight: 600;
}

.subTitle {
    color: #999999;
}

.trash {
    top: 0;
    right: 0;
    color: red;
    display: none;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    z-index: 2;
}

.action {
    position: relative;
    width: 175px;
    color: #333333;
}

.listElement:hover {
    background: #fafafa;
}

.listElement:hover > .action .trash {
    display: flex;
}
